<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section})">

<section>

  <h2 class="mb-4">계정 설정</h2>

  <ul class="nav nav-tabs mb-4">


    <li class="nav-item">
      <a class="nav-link"
         th:classappend="${tab == 'nickname'} ? 'active'"
         th:href="@{/settings/account(tab='nickname')}">
        닉네임 변경
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         th:classappend="${tab == 'password'} ? 'active'"
         th:href="@{/settings/account(tab='password')}">
        비밀번호 변경
      </a>
    </li>

    <!-- 오른쪽 로그아웃 -->
    <li class="nav-item ms-auto">
      <form th:action="@{/logout}" method="post">
        <button class="btn btn-outline-danger">
          로그아웃
        </button>
      </form>
    </li>
  </ul>

  <div th:switch="${tab}">
    <div th:case="'nickname'">
      <div th:replace="sidebar/settings/fragments/nickname :: nicknameForm"></div>
    </div>
    <div th:case="'password'">
      <div th:replace="sidebar/settings/fragments/password :: passwordForm"></div>
    </div>
  </div>

</section>
</html>