<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="categoryCreate">

  <!-- 성공 메시지 -->
  <div th:if="${successMessage != null}"
       class="alert alert-success d-flex align-items-center justify-content-between shadow-sm border-0 rounded-3 px-4 py-3 mb-4"
       role="alert"
       style="font-size: 1.05rem;">

    <div class="d-flex align-items-center">
      <span class="me-3 fs-3">✅</span>
      <div>
        <div class="fw-bold">저장 완료</div>
        <div th:text="${successMessage}" class="small"></div>
      </div>
    </div>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <h5>카테고리 추가</h5>

  <div class="card p-3">
    <form th:action="@{/admin/categories}" th:object="${categoryForm}" method="post">

      <div class="mb-2">
        <label>카테고리 이름</label>
        <input th:field="*{name}" class="form-control" required
               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"/>
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"></div>
      </div>


      <button class="btn btn-success mt-2">저장</button>

    </form>
  </div>

</div>
</html>