<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="categoryEdit">

  <h5>문제 수정</h5>

  <div class="card p-3">

    <form th:action="@{/admin/categories/{id}(id=${category.id})}" method="post">

      <div class="mb-2">
        <label>제목</label>
        <input name="title" class="form-control"
               th:value="${category.title}" required/>
      </div>

      <div class="mb-2">
        <label>내용</label>
        <textarea name="content" class="form-control" rows="5"
                  th:text="${category.content}"></textarea>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-success">저장</button>

        <form th:action="@{/admin/categories/{id}/delete(id=${category.id})}" method="post">
          <button class="btn btn-danger">삭제</button>
        </form>
      </div>

    </form>

  </div>

</div>
</html>