<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section})">
<section>

  <h2 class="mb-4">관리자 페이지</h2>

  <div th:replace="~{sidebar/admin/fragments/adminNav :: adminNav}"></div>

  <div class="row">
    <div class="col-6 border-end">
      <div th:replace="~{sidebar/admin/fragments/members/userList :: userList}"></div>
    </div>
    <div class="col-6">
      <div th:replace="${selectedId != null}
        ? ~{sidebar/admin/fragments/members/userEdit :: userEdit}
        : ~{sidebar/admin/fragments/members/userCreate :: userCreate}">
      </div>
    </div>
  </div>

</section>
</html>