<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section})">
<section>

  <h2 class="mb-4">관리자 페이지</h2>

  <div th:replace="~{sidebar/admin/fragments/adminNav :: adminNav}"></div>

  <div class="row">
    <div class="col-6 border-end">
      <div th:replace="~{sidebar/admin/fragments/members/memberList :: memberList}"></div>
    </div>
    <div class="col-6">

      <!-- 생성 -->
      <th:block th:if="${mode == 'create'}">
        <div th:replace="~{sidebar/admin/fragments/members/memberCreate :: memberCreate}"></div>
      </th:block>

      <!-- 수정 -->
      <th:block th:if="${mode == 'edit'}">
        <div th:replace="~{sidebar/admin/fragments/members/memberEdit :: memberEdit}"></div>
      </th:block>

      <!-- 삭제 -->
      <th:block th:if="${mode == 'delete'}">
        <div th:replace="~{sidebar/admin/fragments/members/memberDelete :: memberDelete}"></div>
      </th:block>
    </div>
  </div>

</section>
</html>